Kartverket.FinnPosisjon.Tests/Service References/no.geonorge.ws/Tran.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="https://ws.geonorge.no/SKWS2/services/Tran" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="urn:ssr2.ws.statkart.no" xmlns:impl="https://ws.geonorge.no/SKWS2/services/Tran" targetNamespace="https://ws.geonorge.no/SKWS2/services/Tran" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ssr2.ws.statkart.no">
      <xsd:import namespace="https://ws.geonorge.no/SKWS2/services/Tran" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="TranKoordSet">
        <xsd:sequence>
          <xsd:element name="hoyde" type="xsd:double" />
          <xsd:element name="nord" type="xsd:double" />
          <xsd:element name="ost" type="xsd:double" />
          <xsd:element name="sosiKoordSys" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TranInpKoordSet">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:TranKoordSet">
            <xsd:sequence>
              <xsd:element name="kommuneNr" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TranInpData">
        <xsd:sequence>
          <xsd:element name="inpKoordSets" nillable="true" type="impl:ArrayOf_tns1_TranInpKoordSet" />
          <xsd:element name="resSosiKoordSys" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TranResKoordSet">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns1:TranKoordSet">
            <xsd:sequence>
              <xsd:element name="errKode" type="xsd:int" />
              <xsd:element name="errTekst" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TranRes">
        <xsd:sequence>
          <xsd:element name="inpKoordSets" nillable="true" type="impl:ArrayOf_tns1_TranInpKoordSet" />
          <xsd:element name="melding" nillable="true" type="xsd:string" />
          <xsd:element name="ok" type="xsd:boolean" />
          <xsd:element name="resKoordSets" nillable="true" type="impl:ArrayOf_tns1_TranResKoordSet" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://ws.geonorge.no/SKWS2/services/Tran">
      <xsd:import namespace="urn:ssr2.ws.statkart.no" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns1_TranInpKoordSet">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:TranInpKoordSet[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns1_TranResKoordSet">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:TranResKoordSet[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sosiTransResponse">
    <wsdl:part name="sosiTransReturn" type="tns1:TranRes" />
  </wsdl:message>
  <wsdl:message name="sosiTransRequest">
    <wsdl:part name="brukerid" type="xsd:string" />
    <wsdl:part name="passord" type="xsd:string" />
    <wsdl:part name="aliasId" type="xsd:string" />
    <wsdl:part name="inputData" type="tns1:TranInpData" />
  </wsdl:message>
  <wsdl:portType name="Tran">
    <wsdl:operation name="sosiTrans" parameterOrder="brukerid passord aliasId inputData">
      <wsdl:input name="sosiTransRequest" message="impl:sosiTransRequest" />
      <wsdl:output name="sosiTransResponse" message="impl:sosiTransResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TranSoapBinding" type="impl:Tran">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="sosiTrans">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sosiTransRequest">
        <wsdlsoap:body use="encoded" namespace="http://ws.ngisssrws.sk.hosledata.no" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="sosiTransResponse">
        <wsdlsoap:body use="encoded" namespace="https://ws.geonorge.no/SKWS2/services/Tran" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TranService">
    <wsdl:port name="Tran" binding="impl:TranSoapBinding">
      <wsdlsoap:address location="https://ws.geonorge.no/SKWS2/services/Tran" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>